@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Text', sans-serif;
    background: linear-gradient(hsl(236, 21%, 26%), hsl(235, 16%, 14%));
}

.container{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.container h1{
    color: hsl(0, 0%, 100%);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 8%;
    letter-spacing: 5px;
    z-index: 1;
}

.flip-container{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 50%;
    z-index: 1;
}

.flip-clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
}

.flip{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 55%;
    position: relative;
    perspective: 500px;
}

.top-face,.bottom-face,.flip-before,.flip-after{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 50%;
    line-height: 0;
    position: absolute;
    font-size: 6rem;
    color: hsl(345, 95%, 68%);
}

.top-face{
    top: 0;
    align-items: flex-end;
    background-color: hsl(235, 16%, 14%);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.bottom-face{
    bottom: 0;
    align-items: flex-start;
    background-color: hsl(236, 21%, 26%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 15px hsl(234, 17%, 12%);
}

.flip-before{
    z-index: 1;
    align-items: flex-end;
    background-color: hsl(235, 16%, 14%);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    top: 0;
    transform-origin: bottom;
    overflow: hidden;
}

.flip-after{
    align-items: flex-start;
    background-color: hsl(236, 21%, 26%);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    bottom: 0;
    transform-origin: top;
}

@keyframes flip-top {
    0%, 50%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(-90deg);
    }
}

@keyframes flip-bottom {
    0%, 50%{
        transform: rotateX(90deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

.text{
    text-transform: uppercase;
    color: hsl(237, 18%, 59%);
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-top: 8%;
}

.stars{
    position: absolute;
    width: 100%;
}

.stars svg{
    width: 100%;
    height: 100%;
}

.hills svg{
    filter: drop-shadow(0 -150px 100px hsla(345, 95%, 68%, 0.1));
}

.contact{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 85%;
}

.contact svg{
    width: 30px;
    height: 30px;
    margin: 20px;
    cursor: pointer;  
}

.contact svg path:hover{
    fill: hsl(345, 95%, 68%);
}

.attribution { 
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    top: 98%;
    color: hsl(237, 18%, 59%);
}

.attribution a { 
    color: hsl(345, 95%, 68%); 
}

@media(max-width:375px){
    .container h1{
        font-size: 1.5rem;
        text-align: center;
    }

    .flip-container{
        width: 90%;
        height: 30%;
    }

    .flip-clock{
        width: 25%;
        height: 80%;
    }

    .flip{
        width: 100%;
        height: 40%;
    }

    .top-face,.bottom-face,.flip-before,.flip-after{
        font-size: 2.5rem;
    }

    .top-face{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .bottom-face{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        box-shadow: 0px 10px hsl(234, 17%, 12%);
    }
    
    .flip-before{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .flip-after{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .text{
        font-size: 0.8rem;
        letter-spacing: 0.5px;
        margin-top: 25%;
    }

    .hills{
        overflow: hidden;
    }
    
    .hills svg{
        filter: none;
        width: 1900px;
    }
    
}
